<ion-header>
    <ion-navbar color="header">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>My Updates</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-col col-12>
            <p [innerHTML]="heading" style="text-align: center;"></p>
          </ion-col>
      </ion-grid>
      <button ion-button full class="margin-top-20" (click)="gotoUpdates()">View Updates</button>
  </ion-content>
  