<ion-content padding class="login">
  <div class="margin-25"> 
    <ion-row class="logo">
      <ion-img style="background: none;" src="assets/imgs/united_way_logo.png"></ion-img>
    </ion-row>
    <ion-list>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <ion-item>
              <ion-input type="text" [formControl]="loginForm.controls['email']" placeholder="Enter Email Address.."></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" [formControl]="loginForm.controls['password']" placeholder="Enter Password.."></ion-input>
            </ion-item>
            <button type="submit" ion-button full>Login</button>

            <ion-grid>
              <ion-row>
                <ion-col col-6><span>Don't have account. <a (click)='openRegistrationForm()' color="secondary">Sign Up</a></span></ion-col>
                <ion-col col-6 ><span><a (click)='openForgotPasswordForm()' class="pull-right" color="secondary">Forgot Password?</a></span></ion-col>
              </ion-row>
            </ion-grid>
      </form>

    </ion-list>
  </div>
</ion-content>
