page-login {
    a{
        color: color($colors,'secondary');
    }
    ion-item {
        padding-left: 0px !important;
        border-radius: 10px !important;
        font-size: 0.9em;
        margin-bottom: 10px !important;
        border-bottom: 0px !important;
        border: 1px solid #ebebeb !important;
        box-shadow: none !important;

        .text-input-ios{
            padding: 0px 10px;
        }
    }
    .logo{        
        margin-top: 20vh !important;
        text-align: center;
        margin-bottom: 15px;

        ion-img{
            background: none;
            width: 250px;
            height: 110px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    
}
