page-donation {
    ion-item{
        ion-avatar{
            span{
                background: color($colors, secondary);
                padding: 10px 15px;
                color: #ffffff;
                border-radius: 50%;
                font-size: 1.9rem;
            }
        }
    }
}
