<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Donations</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="filterDonation()">
          <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="donations;else elBlock">
    <ion-row>
      <ion-grid>
        <ion-col col-12>
          <p class="text-center" ion-text color="primary">Click on a donation to know details of you donor. If status
              shows pending then the donation was not completed</p>
        </ion-col>
      </ion-grid>
    </ion-row>
    <ion-list>
      <ion-item (click)="donarDetail(donation.donation_id)" class="no-border" *ngFor="let donation of donations">
        <ion-avatar item-start>
          <span>{{donation.name.charAt(0)}}</span>
        </ion-avatar>
        <h2>{{donation.name}}</h2>
        <h3>Donation Id: {{donation.donation_id}}</h3>
        <h3>Donation Amount: {{donation.amount}}</h3>
        <p>Donation Status: {{donation.status}}</p>
      </ion-item>
    </ion-list>
  </div>
    <ng-template #elBlock>
      <ion-row>
        <p>No donations found</p>
      </ion-row>
    </ng-template>
</ion-content>
