<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <form [formGroup]="changePasswordForm" (ngSubmit)="doUpdatePassword()">
              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" [formControl]="changePasswordForm.controls['password']"></ion-input>
              </ion-item>
              <p *ngIf="changePasswordForm.controls.password.errors && changePasswordForm.controls.password.dirty" class="danger" padding>Password is required.</p> 
              <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input type="password" [formControl]="changePasswordForm.controls['confirmPassword']"></ion-input>
              </ion-item>
              <p *ngIf="!changePasswordForm.valid && changePasswordForm.controls.confirmPassword.value != ''" class="danger" padding>Password mismatch.</p> 
              <button type="submit" ion-button full [disabled]="!changePasswordForm.valid" class="margin-top-20">Update Password</button>
        </form>
    
      </ion-list>
</ion-content>
