<ion-header>
    <ion-toolbar color="header">
      <ion-title>
        Add NGO
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
    <form [formGroup]="ngoForm" (ngSubmit)="doSave()">        
        <ion-item class="select">
          <ion-label floating class="select">NGO Name</ion-label>
          <ion-select [formControl]="ngoForm.controls['ngoId']" placeholder="">
            <div *ngFor="let ngo of ngoLists">
                <ion-option value="{{ngo.ngo_id}}">{{ngo.title}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <p *ngIf="ngoForm.controls.ngoId.errors && ngoForm.controls.ngoId.dirty" class="danger" padding>NGO is required.</p>
      <button type="submit" ion-button full [disabled]="!ngoForm.valid" class="margin-top-20">Save</button>
    </form>
</ion-content>
