<ion-header>
  <ion-navbar color="header">
    <ion-title>Add Update</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="updateForm" (ngSubmit)="doSave()">    
    <ion-item>
      <ion-label floating>Enter Your Update</ion-label>
      <ion-textarea [formControl]="updateForm.controls['update']"></ion-textarea>
    </ion-item>
    <p *ngIf="updateForm.controls.update.errors && updateForm.controls.update.dirty" class="danger" padding>This field is required.</p>
  <button type="submit" ion-button full [disabled]="!updateForm.valid" class="margin-top-20">Save</button>
</form>
</ion-content>
