<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item class="no-border-item">
        <ion-avatar >
          <div *ngIf="avatar!='';else defaultImage">
              <img class="avatar" src="{{avatar}}">
          </div>
          <ng-template #defaultImage><img class="avatar" src="assets/imgs/profile-pic.png"></ng-template>
        </ion-avatar>
        <button (click)="presentActionSheet()" class="top-right-corner"><ion-icon name="camera"></ion-icon></button>
    </ion-item>
    <form [formGroup]="profileForm" (ngSubmit)="doSave()">          
        <ion-item>
            <ion-label floating>Full Name</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['fullName']"></ion-input>
        </ion-item>
        <p *ngIf="profileForm.controls.fullName.errors && profileForm.controls.fullName.dirty" class="danger" padding>Full Name is required.</p> 
        <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['email']"></ion-input>
        </ion-item>
        <p *ngIf="profileForm.controls.email.errors && profileForm.controls.email.dirty && profileForm.controls.email.hasError('required')" class="danger" padding>Email is required.</p> 
        <p *ngIf="profileForm.controls.email.errors && profileForm.controls.email.dirty && profileForm.controls.email.hasError('pattern')" class="danger" padding>Not a valid email.</p>      
        <ion-item>
          <ion-label floating>About Me</ion-label>
          <ion-textarea [formControl]="profileForm.controls['aboutMe']"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating>Address</ion-label>
          <ion-textarea [formControl]="profileForm.controls['address']"></ion-textarea>
        </ion-item>
        <p *ngIf="profileForm.controls.address.errors && profileForm.controls.address.dirty" class="danger" padding>Address is required.</p> 
        <ion-item>
          <ion-label floating>City</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['city']"></ion-input>
        </ion-item>   

        <ion-item>
          <ion-label floating>State</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['state']"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Country</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['country']"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Pincode</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['pinCode']"></ion-input>
        </ion-item> 
        <p *ngIf="profileForm.controls.pinCode.errors && profileForm.controls.pinCode.dirty && profileForm.controls.pinCode.hasError('pattern')" class="danger" padding>Only number is allowed.</p>      
        <ion-item>
          <ion-label floating>Telephone</ion-label>
          <ion-input type="text" [formControl]="profileForm.controls['telephone']"></ion-input>
        </ion-item> 
        <p *ngIf="profileForm.controls.telephone.errors && profileForm.controls.telephone.dirty && profileForm.controls.telephone.hasError('required')" class="danger" padding>Telephone is required.</p> 
        <p *ngIf="profileForm.controls.telephone.errors && profileForm.controls.telephone.dirty && profileForm.controls.telephone.hasError('pattern')" class="danger" padding>Only number is allowed.</p>      
        <ion-item>
          <ion-label floating>Nationality</ion-label>
          <ion-select [formControl]="profileForm.controls['nationality']">
              <div *ngFor="let nationality of nationalities">
                  <ion-option value="{{nationality.sr_no}}">{{nationality.country}}</ion-option>
              </div>
          </ion-select>
        </ion-item>
        <p *ngIf="profileForm.controls.nationality.errors && profileForm.controls.nationality.dirty" class="danger" padding>Nationality is required.</p> 
        <ion-item>
          <ion-label floating>Date of Birth</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [formControl]="profileForm.controls['dob']"></ion-datetime>
        </ion-item>
        <p *ngIf="profileForm.controls.dob.errors && profileForm.controls.dob.dirty" class="danger" padding>DOB is required.</p> 
        <button type="submit" ion-button full [disabled]="!profileForm.valid">Save Changes</button>
      </form>
</ion-content>
