page-contact {
    .buttons-group{
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        button{
            background: none !important;
            box-shadow: none;
            color: black;

            ion-icon{
                font-size: 2.5em;
            }
        }
    }
}
