<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Help</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-col col-12>
      <h4 class="text-center">We are here to help!</h4>

      <p class="text-center">For queries please email</p>
      <p ion-text color="secondary" class="text-center"><strong>{{email}}</strong></p>
      <p class="text-center">Office Timing: 10am to 6pm</p>
      <p class="text-center"  ion-text color="secondary"><strong>Helpline: +91 91670 11900</strong></p>
	  <p class="text-center"  ion-text><strong>United Way Mumbai, <br>
	  6th Floor, C Wing, Mumbai Educational Trust, <br>
	  Gen. AK Vaidya Marg, Bandra Reclamation, <br>
	  Bandra(West), Mumbai 400 050</strong></p>
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="buttons-group">
        <ion-col><button ion-button (click)="callNumber('+919167011900')"><ion-icon name="call" color="facebook"></ion-icon></button></ion-col>
        <ion-col><button ion-button (click)="enquireViaMail(email)"><ion-icon name="mail" color="mail"></ion-icon></button></ion-col>
        <ion-col><button ion-button (click)="enquireViaWhatsapp('+919167011900')"><ion-icon name="logo-whatsapp" color="whatsapp"></ion-icon></button></ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
