<ion-header>
  <ion-navbar color='header'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-col col-12>
      <ion-avatar>
        <ion-row *ngIf="isImagePresent;else defaultImage">
            <img class="avatar img-circle" src="{{userImage}}">
        </ion-row>        
        <ng-template #defaultImage><img class="avatar img-circle" src="assets/imgs/profile-pic.png"></ng-template>
      </ion-avatar>
      <ion-row><h5 class="text-center">{{userName}}</h5></ion-row>
    </ion-col>
  </ion-grid>
  <ion-card padding class="card-no-background" >
    <ion-card-header>
        <!-- My Fundraising Target -->
        <div *ngIf="achievement.grand_total">
          <span >Rs {{achievement.grand_total}} of {{achievement.fundmeter_target}}</span>
        </div>
        <!-- <ng-template #elach><span>Rs 0 of 0</span></ng-template> -->
    </ion-card-header>
    <ion-card-content class="progress-bar" color='primary'>
        <span [style.width]="workoutProgress"></span>
    </ion-card-content>
  </ion-card>
  <ion-grid padding><ion-col col-12><h5 ion-text color="primary">Fundraiser Leader Board</h5></ion-col></ion-grid>
  <!-- autoplay="2000" loop="true" speed="500" -->
  <ion-slides *ngIf="keys && keys.length">
    <ion-slide *ngFor="let key of keys">
      <div style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
        <ion-icon name="arrow-dropleft-circle" color="primary"></ion-icon>
      </div>
      <div style="position: absolute;top: 40%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
        <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <img *ngIf="leaderBoardResp[key]['image_file'];else defaultImage;" src="{{leaderBoardResp[key]['image_file']}}">
            <ng-template #defaultImage><img src="assets/imgs/profile-pic.png"> </ng-template>
          </ion-col>
          <ion-col col-6 style="padding:20px;">
            <h5 ion-text color="secondary">{{leaderBoardResp[key]['name']}}</h5>
            <p>Rs. {{leaderBoardResp[key]['grand_total']}} of {{leaderBoardResp[key]['fundmeter_target']}}</p>
          </ion-col>
          <button ion-button class="btn-label">{{leaderBoardResp[key]['position']}}</button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <div padding>
    <ion-card>
        <ion-card-header class="border-bottom wd-background">
          Latest Updates
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="latestUpdates;else noUpdates">
            <ion-row *ngFor="let latestUpdate of latestUpdates" (click)="openAnnouncement(latestUpdate.content)">
              <span class="post-date">{{latestUpdate.date}}</span>
              <ion-item><p ion-text color="secondary">{{latestUpdate.subject | slice:0:80}} </p></ion-item>
            </ion-row>
          </ion-list>  
          <ng-template #noUpdates> 
              <ion-list>
                <ion-item>No update found</ion-item>
              </ion-list> 
          </ng-template>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header class="border-bottom wd-background">
          Recent Donations
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngIf="recentDonations;else noDonation">
              <ion-row *ngFor="let recentDonation of recentDonations">
                <ion-item><p ion-text color="dark">{{recentDonation.name}} has donated {{recentDonation.amount}}</p></ion-item>
              </ion-row>
            </ion-list>  
            <ng-template #noDonation> 
                <ion-list>
                  <ion-item>No recent donation</ion-item>
                </ion-list> 
            </ng-template>   
        </ion-card-content>
        <button ion-button class="pull-right more" (click)="showAllDonations()" color="primary" *ngIf="recentDonations">View More</button>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-12><h5 class="text-center" ion-text color="primary">Share fundraiser page via</h5></ion-col>
          <ion-col col-12 class="buttons-group">
            <ion-col><button ion-button (click)="whatsappShare()"><ion-icon name="logo-whatsapp" color="whatsapp"></ion-icon></button></ion-col>
            <ion-col><button ion-button (click)="facebookShare()"><ion-icon name="logo-facebook" color="facebook"></ion-icon></button></ion-col>
            <ion-col><button ion-button (click)="emailShare()"><ion-icon name="mail" color="mail"></ion-icon></button></ion-col>
            <ion-col><button ion-button (click)="share()"><ion-icon name="more"></ion-icon></button></ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
