page-offlinedonation {
    ion-item{
        padding-left: 0px !important;
        padding-right: 5px;
    }
    
    .no-border-item{
        margin-top: 20px;        
        .item-inner{
            border-bottom: none !important;
        }
    }

}
