<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Offline Donation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <p ion-text class="text-center" color="primary">Add Cheque / DD details for offline funds. Cheques should be in favour of United Way of Mumbai.</p>
    <form [formGroup]="offlineDonationForm" (ngSubmit)="doSave()">   
        <ion-item class="select">
          <ion-label floating>NGO Name</ion-label>
          <ion-select [formControl]="offlineDonationForm.controls['ngoId']">
              <div *ngFor="let ngo of ngoLists">
                  <ion-option value="{{ngo.ngo_id}}">{{ngo.title}}</ion-option>
              </div>
          </ion-select>
        </ion-item>
        <p *ngIf="offlineDonationForm.controls.ngoId.errors && offlineDonationForm.controls.ngoId.dirty" class="danger" padding>This is required.</p> 
        <ion-item>
          <ion-label floating>Amount</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['amount']"></ion-input>
        </ion-item>  
        <p *ngIf="offlineDonationForm.controls.amount.errors && offlineDonationForm.controls.amount.dirty && offlineDonationForm.controls.amount.hasError('required')" class="danger" padding>Amount is required.</p> 
        <p *ngIf="offlineDonationForm.controls.amount.errors && offlineDonationForm.controls.amount.dirty && offlineDonationForm.controls.amount.hasError('pattern')" class="danger" padding>Only number is allowed.</p>      
        <ion-item class="no-border-item">
          <ion-label style="">Keep this donation anonymous</ion-label>
          <ion-checkbox color="secondary" [formControl]="offlineDonationForm.controls['anonymous']"></ion-checkbox>
        </ion-item>
        <span ion-text color="secondary">(Donor's name and details will not be listed publicly.)</span>
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['firstName']"></ion-input>
        </ion-item>  
        <p *ngIf="offlineDonationForm.controls.firstName.errors && offlineDonationForm.controls.firstName.dirty" class="danger" padding>First Name is required.</p> 
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['lastName']"></ion-input>
        </ion-item>  
        <p *ngIf="offlineDonationForm.controls.lastName.errors && offlineDonationForm.controls.lastName.dirty" class="danger" padding>Last Name is required.</p> 
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['email']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.email.errors && offlineDonationForm.controls.email.dirty && offlineDonationForm.controls.email.hasError('pattern')" class="danger" padding>Not a valid email.</p> 
        <ion-item>
          <ion-label floating>Address</ion-label>
          <ion-textarea [formControl]="offlineDonationForm.controls['address']"></ion-textarea>
        </ion-item>
        <p *ngIf="offlineDonationForm.controls.address.errors && offlineDonationForm.controls.address.dirty" class="danger" padding>Address is required.</p> 
        <ion-item>
          <ion-label floating>City</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['city']"></ion-input>
        </ion-item>   
        <p *ngIf="offlineDonationForm.controls.city.errors && offlineDonationForm.controls.city.dirty" class="danger" padding>City is required.</p> 
        <ion-item>
          <ion-label floating>State</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['state']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.state.errors && offlineDonationForm.controls.state.dirty" class="danger" padding>State is required.</p> 
        <ion-item>
          <ion-label floating>Country</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['country']"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label floating>Pincode</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['pincode']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.pincode.errors && offlineDonationForm.controls.pincode.dirty && offlineDonationForm.controls.pincode.hasError('required')" class="danger" padding>Pincode is required.</p>
        <p *ngIf="offlineDonationForm.controls.pincode.errors && offlineDonationForm.controls.pincode.dirty && offlineDonationForm.controls.pincode.hasError('pattern')" class="danger" padding>Only number is allowed.</p> 
        <ion-item>
          <ion-label floating>PAN No</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['panNumber']"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Cheque/ DD Number</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['chequeNumber']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.chequeNumber.errors && offlineDonationForm.controls.chequeNumber.dirty && offlineDonationForm.controls.chequeNumber.hasError('required')" class="danger" padding>Cheque No is required.</p> 
        <p *ngIf="offlineDonationForm.controls.chequeNumber.errors && offlineDonationForm.controls.chequeNumber.dirty && offlineDonationForm.controls.chequeNumber.hasError('pattern')" class="danger" padding>Only number is allowed.</p>      
        <ion-item>
          <ion-label floating>Bank Name</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['bankName']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.bankName.errors && offlineDonationForm.controls.bankName.dirty" class="danger" padding>Bank name is required.</p> 
        <ion-item>
          <ion-label floating>Cheque/ DD Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [formControl]="offlineDonationForm.controls['chequeDate']"></ion-datetime>
        </ion-item>
        <p *ngIf="offlineDonationForm.controls.chequeDate.errors && offlineDonationForm.controls.chequeDate.dirty" class="danger" padding>Cheque date is required.</p> 
        <ion-item>
          <ion-label floating>Bank Branch Name</ion-label>
          <ion-input type="text" [formControl]="offlineDonationForm.controls['branchName']"></ion-input>
        </ion-item> 
        <p *ngIf="offlineDonationForm.controls.branchName.errors && offlineDonationForm.controls.branchName.dirty" class="danger" padding>Branch name is required.</p> 
        <button type="submit" ion-button full [disabled]="!offlineDonationForm.valid" class="margin-top-20">Save Changes</button>
      </form>
</ion-content>
