<ion-header>
  <ion-toolbar color="header">
    <ion-title *ngIf="title">
      {{title}}
    </ion-title>
    <ion-title *ngIf="!title">
      Announcement
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col [innerHTML]="content">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
