page-announcement {
    ion-col{
        line-height: 1.5em;
        font-size: 1.8rem;
        color: #222 !important;
        
        a{
            text-decoration: none;
        } 
        i,a{
            color: color($colors, secondary) !important;
        }
    }
}
