<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fundraising Tips</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h4 ion-text color="primary">Successful Fundraising- Expert Insights</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/MehskCDcVxY" frameborder="0" allowfullscreen></iframe>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="openSuccessfullFundraiserDoc()">
          <img src="assets/imgs/successfull_fundraiser.jpg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
