page-donardetail {
    .toolbar-content{
        padding: 0px !important;
    }
    ion-card{
        ion-card-header{
            padding: 10px !important;
        }
        .wd-background{
            background: color($colors, secondary);
            color: color($colors, light);
        }
        .email{
            color: color($colors, secondary);
        }

        .address{
            .input-wrapper{
                ion-label{
                    white-space: initial;
                }
            }
        }
    }
}
