<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      Donor Detail
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="donarDetail">
    <ion-card-header class="border-bottom wd-background">
      Donation Details
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Donation Id: {{donarDetail.donation_id}}</ion-item>
        <ion-item>Amount: {{donarDetail.amount}}</ion-item>
        <ion-item>Status: {{donarDetail.status}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="donarDetail">
      <ion-card-header class="border-bottom wd-background">
        Personal Details
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>Name : {{donarDetail.name}}</ion-item>
          <ion-item (click)="enquireViaMail(donarDetail.email)">Email: <span class="email">{{donarDetail.email}}</span></ion-item>
          <ion-item class="address">Address: {{donarDetail.address}}</ion-item>
          <ion-item>City: {{donarDetail.city}}</ion-item>
          <ion-item>State: {{donarDetail.state}}</ion-item>
          <ion-item>Country: {{donarDetail.country}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
