<ion-menu [content]="content">
  <ion-header style="position: absolute">
    <ion-toolbar style="margin:0 !important; padding:0 !important;">
      <h4>{{title}}</h4>
    </ion-toolbar>
  </ion-header>
  <ion-content style="position: unset;">
    <ion-item class="profile" *ngIf="user">
      <div class="profile-sec">
        <ion-thumbnail class="thumbnail">
          <div *ngIf="user;else staticImage">
            <img class="img-circle" src={{user.image}}>
          </div>
          <ng-template #staticImage>
            <img class="img-circle" src="../assets/imgs/profile-pic.png">
          </ng-template>
        </ion-thumbnail>
        <h2>{{user.fullName}}</h2>
        <h2>{{user.email}}</h2>
      </div>
    </ion-item>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="doLogout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
