<ion-header>
  <ion-navbar color="header">
    <ion-title>Team Member Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="teamMemberId!=''">
    <ion-item class="no-border-item">
        <ion-avatar >
          <ion-row *ngIf="teamMemberImage; else defaultImage">
              <img class="avatar" src="{{teamMemberImage}}">
          </ion-row>
          <ng-template #defaultImage><img class="avatar" src="assets/imgs/profile-pic.png"></ng-template>
          <button (click)="presentActionSheet()" class="top-right-corner"><ion-icon name="camera"></ion-icon></button>
        </ion-avatar>
    </ion-item>
  </div>
  <form [formGroup]="teamForm" (ngSubmit)="doSave()">          
    <ion-item>
      <ion-label floating>Team Member Name</ion-label>
      <ion-input type="text" [formControl]="teamForm.controls['name']"></ion-input>
    </ion-item>
    <p *ngIf="teamForm.controls.name.errors && teamForm.controls.name.dirty" class="danger" padding>Name is required.</p>
    <button type="submit" ion-button full [disabled]="!teamForm.valid" class="margin-top-20">Save Changes</button>
    <div *ngIf="teamMemberId!=''">
        <button type="button" ion-button full (click)="delete(teamMemberId)" color="secondary">Delete</button>
    </div>
  </form>
</ion-content>
