page-teamform {
    ion-item{
        padding-left: 0px !important;
        padding-right: 5px;
    }

    .no-border-item{
        .item-inner{
            border-bottom: none !important;
        }
    }
    
    .avatar{
        width:100px !important;
        height: 100px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .top-right-corner{
        position: absolute;
        right: 39%;
        bottom: 16px;
        border-radius: 50%;
        height: auto;
        width: auto;
        padding: 5px;
    }

    @media(min-width:360px) and (max-width: 384px) {
        .top-right-corner{
            right: 41%;
        }
    }

    @media(min-width:410px) and (max-width: 475px) {
        .top-right-corner{
            right: 42%;
        }
    }

    @media(min-width: 475px) and (max-width: 600px){
        .top-right-corner{
            right: 43%;
        }     
    }

    @media(min-width: 600px) and (max-width: 760px){
        .top-right-corner{
            right: 45%;
        }   
    }
    @media(min-width: 768px) and (max-width: 1024px){
        .top-right-corner{
            right: 47%;
        }   
    }

    @media(min-width:768px) and (max-width: 800px) {
        .top-right-corner{
            right: 46%;
        }
    }

}
