page-forgotpassword {
    h2{
        color: color($colors, primary);
    }
    ion-item {
        padding-left: 0px !important;
        border-radius: 10px !important;
        font-size: 0.9em;
        margin-bottom: 10px !important;
        border-bottom: 0px !important;
        border: 1px solid #ebebeb !important;
        box-shadow: none !important;

        .text-input-ios{
            padding: 0px 10px;
        }
    }
}
