<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      Add Prefixed Donation Amount
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="prefixedDonationForm" (ngSubmit)="doSave()">  
      <ion-input type="hidden" [formControl]="prefixedDonationForm.controls['campaignId']" value="1"></ion-input>
      <ion-input type="hidden" [formControl]="prefixedDonationForm.controls['projectId']" value="142"></ion-input>
         
      <ion-item >
        <ion-label floating>Select NGO</ion-label>
        <ion-select [formControl]="prefixedDonationForm.controls['ngoId']" placeholder="">
            <div *ngFor="let ngo of ngoLists">
                <ion-option value="{{ngo.ngo_id}}">{{ngo.title}}</ion-option>
            </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Donation For</ion-label>
        <ion-textarea [formControl]="prefixedDonationForm.controls['donationFor']" placeholder=""></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="text" [formControl]="prefixedDonationForm.controls['amount']" placeholder=""></ion-input>
      </ion-item>   

      <button type="submit" ion-button full>Save Changes</button>
    </form>
</ion-content>
