page-prefixeddonationform {
    .toolbar-content{
        padding: 0px !important;
    }
    ion-item{
        padding-left: 0px !important;
        padding-right: 5px;
    }
    .no-border-item{
        .item-inner{
            border-bottom: none !important;
        }

        button{
            text-transform: none;
        }
    }
}
