<!-- Header-->
<ion-header>

  <ion-navbar color="header">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Select Campaign</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="campaigns;else elBlock">
    <div *ngFor="let campaign of campaigns">      
        <ion-card (click)="selectCampaign(campaign.campaign_id, campaign.product_id, campaign.title, campaign.campaign_attr)">
          <img src="https://www.unitedwaymumbai.org//storage/campaign_pics/{{campaign.thumbnail_image}}"/>
          <ion-card-content style="padding: 10px !important;">
            <ion-card-title>
              {{campaign.title}}
            </ion-card-title>
            <p [innerHTML]="campaign.intro"></p>
          </ion-card-content>
        </ion-card>
      </div>
  </div>
  <ng-template #elBlock>
    <ion-row>
      <p>No campaign found</p>
    </ion-row>
  </ng-template>
</ion-content>
