page-ngo {
    ion-card{
        ion-card-header ion-buttons{
            position: relative;
            top: 0px;
            right: 0px;
        }
        ion-card-content{
            padding: 16px !important;
        }
        img {
            display: block;
            width: 100%;
        }
        button{
            background: color($colors, secondary) !important;
            height: 2em !important;
            border-radius: 0px !important;
            margin: 0rem !important;
            font-size: 1.2rem !important;
            span{
                color: #ffffff !important;
            }
        }
    }
}
