<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Offline Donation</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-col col-12>
      <p>Donors may choose to do a direct bank transfer to UWM’s bank account or can choose to deposit a cheque/ DD in our bank account remotely. 
	  The details will be required to be entered on the portal and after the details are entered, download the summary report and upload it on a Google form.
	  UWM will update the offline donation amount on the fundraiser's page once the cheque/DD has been realized in UWM’s bank account or direct bank transfer is received in 
	  UWM’s bank account.</p>
    </ion-col>
  </ion-grid>
  <button ion-button full class="margin-top-20" (click)="openDonationForm()">Enter Donation</button>
</ion-content>
