<ion-header>
    <ion-navbar color="header">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>My Appeal/Target</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <form [formGroup]="appealForm" (ngSubmit)="doSave()">  
      <ion-input type="hidden" [formControl]="appealForm.controls['id']"></ion-input>
      <ion-item>
          <ion-label floating>Your Introduction</ion-label>
        <ion-textarea [formControl]="appealForm.controls['intro']"></ion-textarea>
      </ion-item>
      <button type="button" class="pull-right help-button" (click)="openAlertBox('intro', 'Introduction')"><ion-icon name="help" color="primary"></ion-icon></button>
      <p *ngIf="appealForm.controls.intro.errors && appealForm.controls.intro.dirty" class="danger" padding>Introduction is required.</p>
      <ion-item>
        <ion-label floating>Enter Your Appeal</ion-label>
        <ion-textarea [formControl]="appealForm.controls['appeal']"></ion-textarea>
      </ion-item>
      <button type="button" class="pull-right help-button" (click)="openAlertBox('appeal', 'Appeal')"><ion-icon name="help" color="primary"></ion-icon></button>
      <p *ngIf="appealForm.controls.appeal.errors && appealForm.controls.appeal.dirty" class="danger" padding>Appeal is required.</p>
      <ion-item>
        <ion-label floating>Choose Your Fundraisng Target</ion-label>
        <ion-input type="text" [formControl]="appealForm.controls['target']" placeholder=""></ion-input>
      </ion-item>     
      <p *ngIf="appealForm.controls.target.errors && appealForm.controls.target.dirty && appealForm.controls.target.hasError('required')" class="danger" padding>Target is required.</p>
      <p *ngIf="appealForm.controls.target.errors && appealForm.controls.target.dirty && appealForm.controls.target.hasError('pattern')" class="danger" padding>Only number is allowed.</p>      
      <ion-item class="no-border-item">
          <button type="button" ion-button color="secondary" round (click)="openPrefixedDonation()">Set up your prefixed donation amount (Optional)</button>
      </ion-item>

      <p ion-text color="primary">Are you part of a corporate team? If Yes, please select your company name.</p>
      <ion-item>
        <ion-label floating>Company Name</ion-label>
        <ion-select [formControl]="appealForm.controls['corporateId']" placeholder="">
          <div *ngFor="let corporate of corporates">
            <ion-option value="{{corporate.corp_id}}">{{corporate.corp_name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      <button type="submit" ion-button full [disabled]="!appealForm.valid" class="margin-top-20">Save Changes</button>
    </form>
</ion-content>
