page-appeal {
    ion-item{
        padding-left: 0px !important;
        padding-right: 5px;
    }
    .no-border-item{
        .item-inner{
            border-bottom: none !important;
        }

        button{
            text-transform: none;
        }
    }

    .help-button{
        position: relative;
        bottom: 17px;
    }
    
    textarea{
        height: 6.2rem !important;
    }

    
}
