<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      Refine
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="filterForm" (ngSubmit)="doFilter()">  
      <ion-item >
        <ion-label floating>Select Year</ion-label>
        <ion-select [formControl]="filterForm.controls['year']" placeholder="">
            <ion-option value="0">View All</ion-option>
            <ion-option value="2019">2019 - 2020</ion-option>
            <ion-option value="2018">2018 - 2019</ion-option>
            <ion-option value="2017">2017 - 2018</ion-option>
            <ion-option value="2016">2016 - 2017</ion-option>
            <ion-option value="2015">2015 - 2016</ion-option>
            <ion-option value="2014">2014 - 2015</ion-option>
            <ion-option value="2013">2013 - 2014</ion-option>
        </ion-select>
      </ion-item>

      <button type="submit" ion-button full>Filter</button>
    </form>
</ion-content>
