<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contributor Message</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let contributorMessage of contributorMessages">      
    <ion-card>
      <ion-card-content>
        <h4 ion-text color="primary">{{contributorMessage.name}}</h4>
        <span>{{contributorMessage.post_date}}</span>
        <p [innerHTML]="contributorMessage.comments"></p>
        <span *ngIf="contributorMessage.status == 'hidden'" ion-text color="secondary">(This message will not show on your page)</span>
      </ion-card-content>
      <button ion-button class="pull-right" *ngIf="contributorMessage.status == 'active' ;else hideButton" (click)="changeStatus(contributorMessage.sr_no,'hidden')" color="secondary">Hide Message</button>
      <ng-template #hideButton>
        <button ion-button class="pull-right" (click)="changeStatus(contributorMessage.sr_no,'active')" color="secondary">Show Message</button>
      </ng-template>
    </ion-card>
  </div>
  <ion-row *ngIf="!contributorMessages">
    <p>No messages found</p>
  </ion-row>
</ion-content>
